# Environment
.env
*.env

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
*.egg-info/
dist/
build/
eggs/
*.egg
.venv/
venv/

# Data
data/*
!data/.gitkeep

# Docker
osint-pgdata/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
